.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 4s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: large;
}

nav {
  font-size: 25px;
  font-weight: bold;
  color: grey;
}

#home {
  text-decoration: none;
  color: grey;
}

#work-history {
  text-decoration: none;
  color: grey;
}

#projects-page {
  text-decoration: none;
  color: grey;
}

#page-bg {
  background-image: url(http://getwallpapers.com/wallpaper/full/4/1/e/1042115-best-fairy-tail-logo-wallpaper-1920x1080-for-phones.jpg);
  height: 1000px;
  color: rgba(173, 175, 39, 0.835);
  font-weight: bold;
}

#short-bio {
  font-style: oblique;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  font-weight: 900;
}

h3 {
  font-size: 18px;
  font-weight: 900;
}

#number {
  list-style-type: decimal;
  list-style-position: inside;
}

#bullet {
  list-style-position: inside;
  text-align: center;
}

footer {
  font-style: italic;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
