.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
}

#page-bg {
  background-image: url(http://getwallpapers.com/wallpaper/full/4/1/e/1042115-best-fairy-tail-logo-wallpaper-1920x1080-for-phones.jpg);
  height: 1000px;
}

#page-bg {
  color: rgba(173, 175, 39, 0.623);
}

#short-bio {
  font-style: oblique;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  font-weight: 900;
}

h3 {
  font-size: 18px;
  font-weight: 900;
}

#ol {
  list-style-type: decimal;
}

footer {
  font-style: italic;
}

.App-intro {
  font-size: large;
  /* background-image: url(https://pre00.deviantart.net/79b0/th/pre/f/2014/104/5/e/fairy_tail_wallpaper__1920x1080__hd_by_say0chi-d7e7mh6.png);
  height: 1000px; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
